<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <h2>ツイート編集</h2>
        <p class="h5 text-secondary mt-5 mb-4"><%= current_user&.name %></p>
        <p class="d-flex justify-content-center" style="color: rgb(243, 53, 148);"><%= notice %></p>

        <%= form_with model: @tweet do |form| %>
          <div class="form-group">
            <%= form.text_area :content, class: "form-control form-control-lg" %>
          </div>
          <div class="edit_tweet_actions d-flex justify-content-end">
            <%= form.submit '編 集', class: 'btn' %>
          </div>
        <% end %>

        <%= link_to 'ホームへ', tweets_path, class: 'small text-decoration-none text-info' %>
        <p><%= link_to 'マイツイートへ', tweets_mines_path, class: 'small text-decoration-none text-info' %></p>

      </div>
    </div>
  </div>
</div>