<div class="row mt-1 px-5 border">
  <div class="logout d-flex justify-content-end">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn" %>
  </div>

  <div class="col-3">
    <ul class="nav-menu fa-ul">
      <li><i class="fas fa-li fa-home fa-lg"></i><%= link_to 'ホーム', tweets_path %></li>
      <li><i class="far fa-li fa-heart fa-lg"></i><%= link_to 'LIKES', '' %></li>
      <li><i class="fab fa-li fa-twitter fa-lg"></i><%= link_to 'マイツイート', '' %></li>
    </ul>
  </div>

  <div class="col-9">
    <strong>ホーム</strong>&emsp;&emsp;こんにちは <%= current_user&.name %>さん
      <div class="post mt-4">
        <%= form_with model: @tweet do |form| %>
          <div class="form-group">
            <%= form.text_area :content, class: "form-control form-control-lg", placeholder: 'いまどうしてる？'%>
          </div>
          <div class="tweet_btn d-flex justify-content-end">
            <%= form.submit 'ツイート', class: 'btn' %>
          </div>
        <% end %>
      </div>

      <div class="tweetboard">
        <table class="table table-borderless">
          <% @tweets.each do |tweet|%>
            <tr><th><%= tweet.user&.name %></th></tr>
            <tr><td><%= tweet.content %></td></tr>
            <tr class="border-bottom">
              <td id="<%= dom_id(tweet) %>">
                <% if current_user.likes.find_by(tweet: tweet) %>
                  <%=link_to tweet_likes_path(tweet), method: :delete, remote: true do %><!--tweet_like_path➡︎tweet_likes_path に変更?-->
                    <i class="fas fa-heart fa-lg" style="color: red;"></i>
                  <% end %>
                <% else %>
                  <%= link_to tweet_likes_path(tweet), method: :post, remote: true do %>
                    <i class="far fa-heart fa-lg"></i>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if current_user.id == tweet.user_id %>
                  <%= link_to edit_tweet_path(tweet) do %>
                    <i class="fas fa-pencil-alt"></i><span>編集</span>
                  <% end %>
                <% end %>
              </td>

              <td>
                <% if current_user.id == tweet.user_id %>
                  <%= link_to tweet, method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
                    <i class="fas fa-times"></i><span>削除</span>
                  <% end %>
                <% end %>
              </td>

              <td><%= tweet.created_at.strftime('%Y年 %m月 %d日 %H時 %M分') %></td>
            </tr>
          <% end %>
        </table>
      </div>
  </div>
</div>