<table class="table table-borderless">
  <% @tweets.each do |tweet|%>
    <tr><th colspan="3"><%= tweet.user&.name %></th></tr>
    <tr><td colspan="4"><%= simple_format(h(tweet.content)) %></td></tr>
    <tr class="links border-bottom">
      <td id="<%= dom_id(tweet) %>">
        <%= render 'layouts/like', tweet: tweet %>
      </td>

      <td>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <%= link_to edit_tweet_path(tweet) do %>
            <i class="fas fa-pencil-alt"></i><span>編集</span>
          <% end %>
        <% end %>
      </td>

      <td>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <%= link_to tweet, method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
            <i class="fas fa-times"></i><span>削除</span>
          <% end %>
        <% end %>
      </td>

      <td><%= l tweet.created_at, format: :long%></td>
    </tr>
  <% end %>
</table>